include *.rst
recursive-include colormaps *.py
recursive-include colormaps *.json

exclude .coveragerc
exclude doc
exclude bootstrap.py
exclude buildout.cfg
recursive-exclude doc *
recursive-exclude colormaps *.pyc
